:root {
    --lateralpad: 15%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.gridwrap {
    /* padding-left: var(--lateralpad); */
    /* padding-right: var(--lateralpad); */

    display: grid;
    grid-template-rows: 50px minmax(300px, auto) 100px auto;
    grid-template-columns: var(--lateralpad) auto var(--lateralpad);
    grid-row-gap: 10px;
}

/* 
    NAVBAR
*/

.navbar {
    grid-column: 1/3;
    grid-row: 1/2;
}
.navbar > * {
    padding-left: 3%;
}



/* 
    PROFILE
*/

.profileheader {
    grid-column: 2/3;
    grid-row: 2/3;
    
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 5ch auto;
    grid-column-gap: 50px;
}
.name {
    grid-column: 1/2;
    grid-row: 1/2;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
.npost,.nfollowers,.nfollows {
    float: left;
    padding-right: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
.data {
    grid-column: 1/2;
    grid-row: 2/3;
}
.followinfo {
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: smaller;
}
.propic {
    grid-column: 1/2;
    grid-row: 4/5;

    display: block;
    object-fit: contain;
    border-radius: 50% 50%;

    width: 160px;
    height: 160px;
    /* margin: 2ch; */
}
.desc {
    grid-column: 2;
    grid-row: 3 /4;
    text-align: justify;
    place-content: center;
}




/* 
    POSTS
*/

.posts {
    grid-column: 2/3;
    grid-row: 4/5;

    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, minmax(150px, 300px));
    grid-gap: 24px;
}
.posts > img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}