*{
    box-sizing: border-box;
    margin: 0;
}
html, body {
    height: 100%;
    padding: 0;
}

main {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: 50px 50px auto;
    grid-template-areas: 'lateralnav navbar'
    'lateralnav suggests'
    'lateralnav maincontent';

    height: 100%;
}

.navbar {
    grid-area: navbar;
    grid-column: 2/3;
    grid-row: 1/2;
    height: fit-content;

    display: grid;
    grid-template-columns: 2fr 1fr 5fr repeat(5,1fr);
}
.logo {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 50%;
    place-self: center;
    justify-self: start;
}
.search, .btnSearch {
    height: 80%;
    margin-top: 10px;
}
.search {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: start;
    width: 85%;
    padding: 10px;

    border: 1px solid gray;
    border-radius: 2px;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);

    font-style: italic;
    font-size: 16px;
    color: gray;
}
.btnSearch {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: end;
    width: 15.005%;

    border: 1px solid rgba(0, 0, 0, 0.2);
    background: url('https://2.bp.blogspot.com/-lFFvYHv-Z8w/WAOFS0P5FdI/AAAAAAAAF68/Aiv0D5NkUKIbL3_6G42LZm1iQ6co1tmgACLcB/s320/facebook-16px.png') center center no-repeat;
    background-color: lightgrey;
}
.mic, .vid, .menu, .bell, .acco {
    place-self: center;
    grid-row: 1/2;
}
.mic {
    grid-column: 4/5;
}
.vid {
    grid-column: 5/6;
}
.menu {
    grid-column: 6/7;
}
.bell {
    grid-column: 7/8;
}
.acco {
    grid-column: 8/9;
}

.content {
    grid-area: maincontent;
    grid-column: 2/3;
    grid-row: 3/4;

    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(300px, 1fr) );
    row-gap: 20px;
    column-gap: 15px;
}
.content > * {
    width: minmax(150px 400px);
}
.thumbnail {
    margin-bottom: 10px;
    max-height: var(170px ,none);
    max-width: var(200px,100%);
    object-fit: fit;
}
.channelPic {
    display: flex;
    float: left;
    margin-right: 20px;
    border-radius: 50% 50%;
    margin-bottom: 20px;
}
.title {
    font-size: 16px;
    font-weight: bold;
}
.channel {
    font-size: 11px;
    color: grey;
    margin: 5px;
}
.info {
    font-size: 12px;
    color: grey;
}